<div class="popup" style="display: flex; flex-direction: column; width: 250px;">
  <button [disabled]="!isTestOLPerformanceVisualizerExists" (click)="drawTestOLPoint(10)">Test 10 Entities</button>
  <button [disabled]="!isTestOLPerformanceVisualizerExists" (click)="drawTestOLPoint(100)">Test 100 Entities</button>
  <button [disabled]="!isTestOLPerformanceVisualizerExists" (click)="drawTestOLPoint(1000)">Test 1000 Entities</button>
  <button [disabled]="!isTestOLPerformanceVisualizerExists" (click)="drawTestOLPoint(10000)">Test 10000 Entities</button>
  <button [disabled]="!isTestOLPerformanceVisualizerExists || !hasNumberOfEntities" (click)="toggleUpdateTimeCycle()">(Toggle) Test Entities update every 1 sec</button>
  <button [disabled]="!isTestOLPerformanceVisualizerExists" (click)="purgeCache()">purge style Cache</button>
  <button [disabled]="!isTestOLPerformanceVisualizerExists" (click)="clearEntities()">clear Entities</button>
</div>
